<form [formGroup]="createForm">
	<zx-select-option
		(onclick)="createForm.controls.city.patchValue('')"
		[fmGroup]="createForm"
		[fmControlName]="'country'"
		[list]="countries$ | async"
		[title]="'Selecione um País...'"
	></zx-select-option>

	<zx-select-option
		*ngIf="(isCreateCountryRoute$ | async) === false"
		[fmGroup]="createForm"
		[fmControlName]="'city'"
		[ngClass]="['margin-y-3']"
		[title]="'Selecione uma Cidade...'"
		[list]="cities$ | async"
	></zx-select-option>

	<zx-button (click)="submitForm()" [ngClass]="['margin-y-1']" [isDisabled]="!createForm.valid">Criar</zx-button>
</form>
