// The creator of SVG content might want to provide a hint to the implementation about what tradeoffs to make as it renders text. The ‘text-rendering’ property provides these hints.
.best-text-rendering {
	-webkit-font-smoothing: antialiased        !important;
	        text-rendering: optimizeLegibility !important;
}

.box-sizing-border {
	-webkit-box-sizing: border-box !important;
		 -moz-box-sizing: border-box !important;
	        box-sizing: border-box !important;
}

// Controls the appearance of selection.
.user-select-none {
	-webkit-user-select: none !important;
	   -moz-user-select: none !important;
	    -ms-user-select: none !important;
			 -o-user-select: none !important;
			    user-select: none !important;
}

// The list-style property is a property used to configure list-style-type, list-style-image, and list-style-position.
.list-style-none {
	list-style: none !important;
}

// The appearance property allows you to make an element look like a standard user interface element.
.appearence-none {
	-webkit-appearance: none;
		 -moz-appearance: none;
	        appearance: none;
}
