<div class="card">
	<header>
		<span>{{ data.id }}</span>
		<span>{{ conditionSelected.dt | date: 'EEEE' }}, {{ conditionSelected.dt | date: 'dd' }}, {{ conditionSelected.dt | date: 'hh:mm' }}</span>
		<span>{{ conditionSelected.weather.description }}</span>
	</header>

	<section>
		<zx-card-weather-climate
			[conditionIcon]="conditionSelected.weather.icon"
			[maxTemp]="conditionSelected.weather.temp || conditionSelected.weather.temp_max"
		></zx-card-weather-climate>

		<zx-card-weather-informations
			[pressure]="conditionSelected.weather.pressure"
			[humidity]="conditionSelected.weather.humidity"
			[windSpeed]="conditionSelected.weather.windSpeed"
		></zx-card-weather-informations>
	</section>

	<footer>
		<zx-card-weather-conditions (selectCondition)="updateListState($event)" [data]="conditionList$ | async"></zx-card-weather-conditions>
	</footer>
</div>
