<section>
	<div>
		<zx-search-data
			(orderBy)="orderByList($event)"
			[fmGroup]="searchForm"
			[fmControlName]="'search'"
			[placeholder]="'Digite a cidade..'"
			[minLength]="1"
			[maxLength]="58"
		></zx-search-data>

		<zx-select-item-list
			(getItemSelected)="updateSelectData($event)"
			(deleteItem)="deleteCity($event)"
			[list]="selectData$ | async"
			[maxAmountSelect]="3"
			[amountSelected]="amountSelected"
		></zx-select-item-list>
	</div>
</section>

<zx-select-item-nav (submitList)="goToViewRoute()" [amountItens]="amountSelected"></zx-select-item-nav>
