<section>
	<div>
		<zx-search-data
			(orderBy)="orderByList($event)"
			[fmGroup]="searchForm"
			[fmControlName]="'search'"
			[placeholder]="'Digite a cidade..'"
			[minLength]="1"
			[maxLength]="58"
		></zx-search-data>

		<zx-select-item-list
			(selectItem)="citiesSelected = $event"
			(deleteItem)="deleteCity($event)"
			[list]="cityData$ | async"
			[maxSelection]="3"
		></zx-select-item-list>
	</div>
</section>

<zx-select-item-nav (submitList)="goToViewRoute()" [amountItens]="amountItemSelected"></zx-select-item-nav>
