$font-type-map: (
	'VisbyRoundCF': (
		'ExtraLight': 200,
		'Light': 300,
		'Regular': normal,
		'Medium': 500,
		'SemiBold': 600,
		'Bold': bold,
		'ExtraBold': 800,
		'Heavy': 900,
	),
	'ZooxIcon': (
		'Regular': normal,
	),
);

// GENERATE FONTS
@each $font-name, $font-weight in $font-type-map {
	@each $font-weight, $font-weight-value in $font-weight {
		$path: '/assets/fonts/#{to-lower-case($font-name)}/#{$font-name}-#{$font-weight}';

		@font-face {
			font-family: $font-name;
			font-style: normal;
			font-weight: #{$font-weight-value};
			src: url('#{$path}.eot');
			src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.woff2') format('woff2'),
				url('#{$path}.ttf') format('truetype');
		}
	}
}
